# **Análise de engajamento dos alunos.**
**Este notebook tem como objetivo demonstrar a quantidade de cliques em cada função da disicplina 4300459.**

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.offline as py
import plotly.graph_objs as go  
import scipy.stats as stats

In [3]:
tabela = pd.read_table('data/nonpublic/logs-4300459-2021.csv', sep=',')
tabela.sample(0)

Empty DataFrame
Columns: [id, eventname, component, action, target, objecttable, objectid, crud, edulevel, contextid, contextlevel, contextinstanceid, userid, courseid, relateduserid, anonymous, other, timecreated, origin, ip, realuserid]
Index: []

[0 rows x 21 columns]

In [4]:
N=10000
alunos = tabela.query("userid != 2 & userid != -1 & userid !=6")
df = alunos.groupby(['userid','eventname'])['action'].count()[:N]
df.to_csv('eventos.csv')
zscore = pd.read_table('eventos.csv', sep=',')

In [5]:
df.sample(10)

userid  eventname
307966  \mod_workshop\event\submission_assessed         3
252478  \core\event\group_member_added                  2
160289  \mod_forum\event\assessable_uploaded            8
49162   \core\event\grade_deleted                      41
193906  \core\event\user_profile_viewed                 1
57724   \core\event\user_profile_viewed                 1
26189   \mod_bigbluebuttonbn\event\meeting_joined      16
78746   \mod_data\event\course_module_viewed           63
        \mod_assign\event\feedback_viewed              10
26462   \mod_studentquiz\event\course_module_viewed    53
Name: action, dtype: int64

In [6]:
teste = pd.melt(zscore, id_vars=["userid"] , value_vars=['action'], value_name= '\mod_assign\event\assessable_submitted')

In [7]:
teste.sample(500)

      userid variable  \mod_assign\eventssessable_submitted
283     5754   action                                      8
2382  174950   action                                      2
400    19404   action                                     11
1252   57685   action                                      2
1537   76290   action                                      1
...      ...      ...                                    ...
2248  170974   action                                     33
2861  276251   action                                     28
855    42179   action                                     29
1635   76850   action                                      7
1272   57685   action                                      3

[500 rows x 3 columns]

In [13]:
dropforum = zscore.drop('eventname' != '\mod_assign\event\assessable_submitted')

KeyError: '[ True] not found in axis'